
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background:url(IMG05.jpg) no-repeat center center/cover;
    max-width: 100%;


}
 
.section_1{
    padding: 2rem 3rem;
    font-family: "Montserrat", sans-serif;
    justify-content: space-evenly;
    background: #000000b4;
    width: 50%;
    min-height: 100vh;

}

header{
   display: flex;
   align-items: center; 
   gap: 20px;
   color: #fff;
   width: 100%;
   justify-content: space-between;
   z-index: 999;
   color:#fff


}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;   
}

nav a{
    text-decoration: none;
    color: #898989;

}

 nav a:hover{
    color: #fff;
}

 nav a::before{
    content: "";
    height: 5px;
    bottom: -10px;
    width: 0;
    left: 100%;
    background-color: #fff;
    transition: 0.3sec;
}

 a:hover::before{
    width: 100%
}

p{
    font-size: 50px;
    color: #fff;
     padding-top: 60px;
     letter-spacing: 5px;
      row-gap: 50%;
       font-weight:bold ;

}
span{
    color:darkgray;
    border-color: #fff;

}
h1{
    font-size: 15px; 
    opacity: 2rem;
    color: #fff;
    padding-top: 30px;
    opacity: 40%; 
    padding-bottom: 20px;

    
}
button{
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(50deg, rgba(28, 150, 180, 0.774), rgba(255, 192, 203, 0.781));
}

.social-Media{
   font-size: 30px;
    padding-top: 150px;
    letter-spacing: 40px;
}
.social-Media i{
    color:pink;
}
.section_2{
    background: none;
    width: 50%;
    min-height: 100vh;
}
form{
 padding: 20px;

}

.section_2 input{
    margin-left: 40%;
    border-radius: 40px;
    padding: 20px;
    width: 300px;;
}




