@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Infant:wght@300&family=Inter:wght@100..900&family=Nanum+Myeongjo:wght@400;800&family=Open+Sans:wght@300&family=PT+Sans&family=Plus+Jakarta+Sans&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sanchez&display=swap');
*{
  margin: 0;
  padding: 0;
}


span{
  color: #898989;
}


*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(UpSplash1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}
.box{
    position: relative;
    width: 800px;
    height:200px;
    background-color: transparent;
    border: none;

}
.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.418);
    z-index: -1;
}
.box1{
  position: relative;
  width: 900px;
  height:200px;
  background-color: transparent;
  border: none;

}
.box1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.418);
  z-index: -1;
}
.box2{
  position: relative;
  width: 20px;
  height:100px;
  background-color: transparent;
  

}
.box2::before{
  content: '';
  position: absolute;
  justify-content: left; 
  left:3px;
  width: 20px;
  height: 40vh;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to bottom , pink, rgba(95, 93, 218, 0.856));
  }
 
 .box3{
    position: relative;
    width: 30px;
    height:100px;
  }
  .box3::after{
    content: '';
    position: absolute;
    justify-content: left; 
    left:5px;
    width: 20px;
    height: 30vh;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to bottom , pink,  rgba(95, 93, 218, 0.856));
  }
 
    .box4{
      position: relative;
      width: 10px;
      height:100px;
    }
    .box4::before{
      content: '';
      position: absolute;
      justify-content: left; 
      left:3px;
      width: 10px;
      height: 10vh;
      border-radius: 20px;
      padding: 10px;
      background: linear-gradient(to bottom , pink,  rgba(95, 93, 218, 0.856));
    }
 

.box5{
  position: relative;
  width: 30px;
  height:100px;
}
.box5::before{
  content: '';
  position: absolute;
 float: left;
 justify-content: left;
 left: 1px;
  width: 20px;
  height: 10vh;
  border-radius: 20px;
  padding: 10px;
  top:500px;
  background: linear-gradient(to bottom , pink, rgba(93, 218, 218, 0.637));

}
.box nav a{
  text-decoration: none;
  
  color: #898989;
  font-size: 20px;
  font-weight: 0 10px;
  margin: 30px;
  position: relative;
  padding-top: 30%;
 left: 8%;
 top: 20%;
 padding-top: 20%;


}
nav a:hover{
  color: #f6f6f6;
  
 

}
    

nav a::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color:white;
  transition:  0.3s;
 

}


 nav a:hover::before{
  width: 100%;
  

 }



  .search{
   border-radius: 20px;
   --padding:14px;
   width: 250px;
   justify-content: right;
   background-color: #f6f6f6;
   position: absolute;
   float: right;
   right: 20%;
  }
  .search-input{
    font-size: 20px;
    font-family: "poppins", sans-serif;
    color: #333333;
    margin: var(--padding);
    border: none;
    outline: none;
    background: transparent;
    top: 10%;
  
  }
   h2{
    position: absolute;
    text-align: right;
   right: 13%;
   font-size: 20px;
   font-family: "poppins", sans-serif;
   color: #f6f6f6;
   top: 10px;
   left: 10%;
  }
  .box h1{
    font-size: 50px;
    font-family: "poppins", sans-serif;
    color: WHITE;
    top: 60%;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left:10%;
    

  }
  .box p{
    font-size: 20px;
    font-family: "poppins", sans-serif;
    color: WHITE;
    opacity: 60%;
    top: 350px;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left: 10%;
  }
  .box button{
    padding: 10px;
    border-radius: 20px;
    font-size: 10px;
    font-family: "poppins", sans-serif;
    color: #f6f6f6;
    background:linear-gradient(to right, rgba(255, 192, 241, 0.863), rgba(135, 207, 241, 0.959));
    top: 450px;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left: 10%;
  }
  .fa-telegram{
  color: pink;
  font-size: 50px;
  top: 700px;
  left: 10%;
  position: absolute;
  }
  .fa-twitter{
    color: pink;
    font-size: 50px;
    top: 700px;
    left: 30%;
    position: absolute;
    }
    .fa-facebook{
      color: pink;
      font-size: 50px;
      top: 700px;
      left: 50%;

      position: absolute;
      }
