*{
    margin: 0;
    border: 0;
    font-family: century;
}
header{
    background-image: linear-gradient(60deg,black, rgb(169, 232, 240), transparent),url(Logo1.jpg);
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}
ul{
    float: left;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
    color:#fff

}
ul li{
display: inline-block;
}
ul li a{
    text-align: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: 0.5 ease;

}
ul li a:hover{
    background-color: #fff;
    color: black;
}

h1{

    float: left;
    border-bottom: 50px;
    font-size: bold;
    color: #fff;
}
h2{
    color: black;
    font-size: 40px;
}
h3{
    color: #fff;
    font-size: 40px;
    float: left;
    font-family: century ;

}
.main{
    width: 1200px;
    
}
.title{
    position: fixed;
    top: 10%;
    left: 60px;
    color: #fff;
    



}
/*
display: flex;
min-height: 100vh;
background: rgba(0, 0, 0, 0.452);
align-items: left;
justify-content: left;

}
.Container .img{
background: url(Logo1.jpg);
height: 100vh;
width: 100%;
position: absolute;
background-size: cover;
background-position: center;
}
.Container .overlay{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,black, rgb(117, 198, 230), transparent);
    position: absolute;
}
.Container .list{
float:left;
list-style-type:none ;
margin-top:30px;
opacity: 3;
}
.Container .list.ul{


}*/