@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Infant:wght@300&family=Inter:wght@100..900&family=Nanum+Myeongjo:wght@400;800&family=Open+Sans:wght@300&family=PT+Sans&family=Plus+Jakarta+Sans&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sanchez&display=swap');




*{
    margin: 0;
    padding: 0;
}
body{
    background: url(Logo1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}
.box{
    position: relative;
    width: 800px;
    height:200px;
    background-color: transparent;
    border: none;

}
.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.418);
    z-index: -1;
}
.box1{
  position: relative;
  width: 900px;
  height:200px;
  background-color: transparent;
  border: none;

}
.box1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.418);
  z-index: -1;
}
.box2{
  position: relative;
  width: 30px;
  height:100px;
  /*background-color: transparent;*/
  

}
.box2::before{
  content: '';
  position: absolute;
  justify-content: left; 
  left:10px;
  width: 20px;
  height: 50vh;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to bottom , pink, rgba(93, 218, 218, 0.637));
  
  }
  .box3{
    position: relative;
    width: 30px;
    height:100px;
  }
  .box3::before{
    content: '';
    position: absolute;
    justify-content: left; 
    left:10px;
    width: 20px;
    height: 50vh;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to bottom , pink, rgba(93, 218, 218, 0.637));
  }
    .box4{
      position: relative;
      width: 30px;
      height:100px;
    }
    .box4::before{
      content: '';
      position: absolute;
      justify-content: left; 
      left:10px;
      width: 20px;
      height: 50vh;
      border-radius: 20px;
      padding: 10px;
      background: linear-gradient(to bottom , pink, rgba(93, 218, 218, 0.637));
 /* z-index: -1; */
}
.box5{
  position: relative;
  width: 30px;
  height:100px;
}
.box5::before{
  content: '';
  position: absolute;
  justify-content: center;
  align-items: center; 
  left:20px;
  width: 20px;
  height: 10vh;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to bottom , pink, rgba(93, 218, 218, 0.637));
}
.box ul{
float:left;
padding: 2px;
border: 20px;
}
 .box ul li{
    color: #f6f6f6;
    left:20%;
    top:10%;
    justify-items: left;
    float: left;
    padding: 20px; border: 30px;
    list-style: none;
    
}
.box ul li :hover{
    color: white;
    background-color: #333333;
    border: #f6f6f6;
 
    
}
.box ul li a{
  position:relative;
  text-decoration: none;
  font-family: poppins sans-serif;
  color: #f6f6f6;
  font-size: 18px;
  letter-spacing: 0.5px; 

}
.box a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
  
}
  .box a:hover{
  color: #ffff;
 }
 a:hover::after{
  width: 100%;
 }

  .search{
    display: flex;
    width: 200px;
    padding: 10px;
    justify-items: right;
    align-self: right;
    border-radius: 30px;
    background: #f6f6f6;
   right: 10%;
    float: right;
    justify-content: space-between;
    


  
  }
  .search-input{
    font-size: 30px;
    font-family: poppins, sans-serif;
    color: #333333;
    border: none;
    display: flex;
    float: right;
    right: 100px;
    background: transparent;

  }
  .box h1{
    font-size: 50px;
    font-family: poppins, sans-serif;
    color: WHITE;
    top: 60%;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left:8%;
    

  }
  .box p{
    font-size: 20px;
    font-family: poppins, sans-serif;
    color: WHITE;
    opacity: 60%;
    top: 350px;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left:8%;
  }
  .box button{
    padding: 10px;
    border-radius: 20px;
    font-size: 10px;
    font-family: poppins, sans-serif;
    color: #f6f6f6;
    background:linear-gradient(to right, rgba(255, 192, 241, 0.863), rgba(135, 207, 241, 0.959));
    top: 450px;
    align-items: left; 
    position: absolute;
    justify-content: left;
    left:8%;
  }

  .box .material-icons.pink600 {

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  /* Preferred icon size */
    display: flex;
   /* border-radius: 20px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
   white-space: nowrap;
   direction;1tr; */
     left: 8%;
     bottom: 600px;
     color: rgba(255, 192, 203, 0.89);
  }
  
